# Sensitive information files (passwords, keys etc)
###################################################



# Build files
###################################################

# Python cache files
###################################################
__pycache__/

# Other files