
# Sensitive information files (passwords, keys etc)
###################################################



# Build files
###################################################

__pycache__

# Other files

.venv
logs
dataset
exports
GRAPH
jsons_files
LOCAL
ROBOT
videos
crop_video.py
dataset_novi.zip
merge_dataset.py
dataset_novi.zip
export.py