# Sensitive information files (passwords, keys etc)
###################################################



# Build files
###################################################
.venv

# Python cache files
###################################################
__pycache__/

# Ignore pictures video outputs
videos/output/

# Other files